
.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.logout, .user-cont {
	float: right;
}

.user-cont {
	padding: 6px 12px;
}

.my-table th {
	cursor: pointer;
}

.my-table {
	margin-bottom: 0;
}

.my-table thead.filter-head th {
	cursor: default;
	border-left: none !important;
	border-right: none !important;
}